@import '../common/variables.scss';

.accordion {
    width: 100%;
    color: $primary-text;
    overflow: hidden;
}

.accordion_opened {
    .accordion__title {
        color: $green;

        &::after {
            margin-bottom: 18px;
            transform: rotate(90deg);
        }
    }
    
    .accordion__content {
        max-height: 100vh;
    }
}

.accordion__title {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    
    &::after {
        content: "\276E";
        transform: rotate(-90deg);
        transition: all .35s;
    }
}

.accordion__content {
    max-height: 0;
    transition: all .35s;
}
