@import '../common/variables.scss';

.button {
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.button_primary {
    padding: 7px 12px 6px 13px;
    color: $primary-text;
    font-size: 12px;
    line-height: 17px;
    background: $violet-button;
}

.button_secondary {
    color: $primary-text;
    background-color: transparent;
    border: 1px solid $gray-border;

    &:hover {
        border: 1px solid $white;
    }
}

.button_active {
    border: 2px $orange solid;
}

.button_disabled {
    &:hover {
        cursor: not-allowed;
    }
}

.button_small {
    width: 30px;
    height: 30px;
}

.button_tablet {
    justify-content: center;
    align-items: center;
    width: 45px;
    height: 45px;
    background-color: $tablet-button;
}
