@import '../common/variables.scss';

.info-block {
    display: flex;
    align-items: center;
    padding: 7px 9px;
    color: $primary-text;
    font-size: 13px;
    line-height: 10px;
    background: $info-block-background;
    border-radius: 5px;

    &:not(:last-child) {
        margin-right: 10px;
    }

    &:hover {
        cursor: pointer;
        background-color: $point-hover;
    }
}

.info-block__icon-box {
    width: 18px;
    height: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    background-color: $orange;
    border-radius: 4px;
}

.info-block__icon-box_orange {
    box-shadow: $orange-box-shadow;
}

.info-block__icon {
    width: 7px;
    height: 12px;
}

.info-block__icon_white {
    fill: $white;
}
